/* general styling */
:root {
  --lightest: #cad2c5;
  --light: #84a98c;
  --medium: #52796f;
  --dark: #354f52;
  --darkest: #2f3e46;
}
body {
  color: var(--lightest);
  background-color: var(--dark);
}

/* header/nav bar */
header {
  background-color: var(--medium);
  display: flex;
  justify-content: center;
}

.nav-list {
  display: inline-block;
  margin: 20px;
}
.nav-link {
  color: var(--darkest);
  text-decoration: none;
  padding: 2px;
  font-size: 25px;
}

.nav-link:hover {
  border: 2px solid var(--darkest);
}

/* main section (all other sections are within the main )*/
main {
  margin-left: 10%;
  margin-right: 10%;
}

.content-title {
  font-size: 30px;
  display: flex;
  align-items: center;
}

/* about me section, includes introduction, pfp, and about-me section */

#about-me {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#hello {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

#hello h1 {
  margin-top: 20px;
}

#pfp {
  margin: 30px;
  max-width: 300px;
  margin: auto;
  border-radius: 5px;
}

#about-me h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* projects section */

.project-preview {
  max-height: 150px;
  margin: 20px;
  border-radius: 5px;
}
.project-preview-lg {
  max-height: 150px;
  width: 300px;
  margin: 20px;
  border-radius: 5px;
}

#projects-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  background-color: var(--medium);
  border-radius: 5px;
}

figure {
  text-align: center;
}

/* resume section */

#resume {
  margin-top: 35px;
  display: flex;
  align-content: center;
}

#resume h2 {
  margin-left: 20%;
  text-align: center;
  font-size: 25px;
}

#resume-link {
  color: white;
}

/* contact section */

#contact {
  margin-top: 40px;
  display: flex;
  align-content: center;
}

#contact-content {
  margin-left: 20%;
}

.contact-img {
  max-width: 50px;
  max-height: 50px;
  margin: 25px;
}
